$color-beige: #FFF8D3;
$color-anthracite: #55605F;
$color-anthracite-darker: darken($color-anthracite, 5%);
$color-grey: #888888;

$layout-container-max-width: 1120px;
$layout-container-min-width: 280px;

$time-effects: 0.3s;