@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700&display=swap');
@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Muli', arial, sans-serif;
  font-weight: normal;
  line-height: 1.4;
  color: $color-beige;
}

.note {
  background-color: $color-anthracite;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  &__container {
    width: 100%;
    max-width: $layout-container-max-width;
    min-width: $layout-container-min-width;
    display: flex;
    flex-direction: column;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__heading {
    margin: 0;
    font-size: 2.75rem;
    font-weight: 300;
  }

  &__label {
    margin-bottom: 10px;
    font-weight: 300;
  }

  textarea {
    width: 100%;
    height: 100%;
  }

  &__message {
    margin-bottom: 50px;
    background: none;
    border: 1px solid $color-beige;
    border-radius: 10px;
    color: $color-beige;
    font-size: 1.4rem;
    padding: 20px;
    min-height: 300px;
    transition: background-color $time-effects, box-shadow $time-effects;
    
    &:focus {
      border-width: 2px;
      background-color: $color-anthracite-darker;
      box-shadow:
      0 0 200px rgba($color: #000, $alpha: 0.1),
      0 0 50px rgba($color: #000, $alpha: 0.1);
    }
  }

  &__buttons {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    border: none;
    background: none;
    color: $color-beige;
    cursor: pointer;
    border-radius: 5px;
    min-height: 60px;
    min-width: 150px;
    font-size: 1.5rem;
    transition:
      background-color $time-effects,
      border $time-effects,
      color $time-effects;

    &:hover {
      border: none;
      background-color: $color-anthracite-darker;
    }

    &--load {
      border: 1px solid $color-beige;
    }

    &--save {
      background-color: $color-beige;
      color: $color-anthracite;
      font-weight: bold;

      &:hover {
        color: $color-beige;
      }
    }
  }
}